<div class="container">

<div class="home">
  <h4 style="text-align: center">food + drink &nbsp;//&nbsp; travel &nbsp;//
    &nbsp; design &nbsp;//&nbsp; fashion &nbsp;//&nbsp; art </h4>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://graphics8.nytimes.com/images/2014/09/10/dining/10COOKBOOK1/10COOKBOOK1-superJumbo.jpg" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="http://blog.needsupply.com/wordpress/wp-content/uploads/2014/07/BETTTYS-SURF.jpg" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="http://blog.needsupply.com/wordpress/wp-content/uploads/2014/07/IMG_4053-1.jpg" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="http://4.bp.blogspot.com/-VfG_XjJB2os/Uc3gmu8EnKI/AAAAAAAAHLE/Sej3yUs_APk/s1600/image_4.jpeg" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="http://blog.needsupply.com/wordpress/wp-content/uploads/2014/10/NS-SallyEnglandNB-1.jpg" alt="...">
      <div class="carousel-caption">
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>
<br>
<br>
