// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.fav h1 {
  text-align: center;
}


#fav-links {
  color: black;
}

#fav-links:hover {
  color: #FF9EFF;
}
